@import url(https://fonts.googleapis.com/css?family=Abel);
/*base--------------------------------------*/
html {
  font-size: 62.5%; }

body {
  color: #4c4c4c;
  font-size: 1.4rem;
  line-height: 1.6;
  letter-spacing: 0.1em;
  background-color: #fcfdf6; }

a {
  color: #14c0c9;
  text-decoration: none; }
  a:visited {
    color: #0f949b; }
  a:hover {
    color: #0f949b; }
  a:active {
    color: #16d6e0; }

.text-center {
  text-align: center; }

.block-center, section .container, #skills i {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.abel, section h2, #skills h3 {
  font-family: 'Abel', sans-serif; }

.uppercase, section h2, #skills h3 {
  text-transform: uppercase; }

@media (min-width: 1025px) {
  /* Base
  ------------------------------------------------------------*/
  a:hover {
    text-decoration: underline; } }
.button-contact {
  width: 20px;
  height: 20px;
  padding: 10px;
  border: 2px solid #4c4c4c;
  color: #4c4c4c;
  text-align: center;
  display: block;
  float: right;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 20px;
  line-height: 0;
  margin: 20px 20px 0 0; }
  .button-contact:visited {
    color: #4c4c4c; }

header {
 /* Header
------------------------------------------------------------*/ }
  header .profile {
    width: 60%;
    margin: 0 auto;
    padding: 60px 0;
    clear: both; }
  header .site-title {
    font-size: 1.8rem;
    line-height: normal; }
    header .site-title span {
      display: block;
      font-size: 4.2rem;
      color: #14c0c9; }
  header .profile-icon {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 30px auto; }
  header p {
    font-size: 1.6rem; }
  header .button-contact:hover, header .button-contact:active {
    background-color: #4c4c4c;
    color: #FFF; }

/* Contents
------------------------------------------------------------*/
section {
  padding: 60px 0; }
  section .container {
    width: 90%; }
  section h2 {
    font-size: 3.2rem; }

#skills {
  background-color: #bea300; }
  #skills .container {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    -webkit-flex-direction: column;
    flex-direction: column; }
  #skills h2 {
    color: #fcfdf6;
    margin-bottom: 40px; }
  #skills .skill-box {
    -webkit-flex: 1;
    flex: 1;
    margin: 10px 0;
    padding: 20px;
    background-color: #fcfdf6;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  #skills i {
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
    padding-top: 15px;
    background-color: #14c0c9;
    font-size: 4.5rem;
    color: #FFF;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
  #skills h3 {
    color: #14c0c9;
    margin-bottom: 10px;
    font-size: 2.4rem;
    font-weight: bold; }

/*# sourceMappingURL=style.css.map */
