@import "compass";
@import url(https://fonts.googleapis.com/css?family=Abel);
// font-family
$baseFontFamily :"游ゴシック", YuGothic, "メイリオ",Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

$basecolor: #fcfdf6;
$subcolor: #bea300;
$keycolor: #14c0c9;
$fontcolor: #4c4c4c;

/*base--------------------------------------*/
html{ font-size: 62.5%;}

body{
  color: $fontcolor;
  font-size: 1.4rem;
  line-height:1.6;
  letter-spacing: 0.1em;
  background-color: $basecolor;
}

a {
  @include link-colors($keycolor,darken($keycolor, 10%), lighten($keycolor, 5%), darken($keycolor, 10%));
  text-decoration: none;
}

.text-center{
  text-align: center;
}

.block-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.abel {
  font-family: 'Abel', sans-serif;
}

.uppercase {
  text-transform: uppercase;
}

@media (min-width: 1025px) {

  /* Base
  ------------------------------------------------------------*/
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.button-contact {
  width: 20px;
  height: 20px;
  padding: 10px;
  border: 2px solid $fontcolor;
  color: $fontcolor;
  text-align: center;
  display: block;
  float: right;
  @include border-radius(4px);
  font-size: 20px;
  line-height: 0;
  margin: 20px 20px 0 0;
  &:visited {
    color: $fontcolor;
  }
}
header {
  .profile {
    width: 60%;
    margin: 0 auto;
    padding: 60px 0;
    clear: both;
  }
  .site-title {
    font-size: 1.8rem;
    line-height: normal;
      span {
        display: block;
        font-size: 4.2rem;
        color: $keycolor;
      }
  }
    .profile-icon {
    @include border-radius(50%);
    margin: 30px auto;
  }
  p {
    font-size: 1.6rem;
  }
   /* Header
  ------------------------------------------------------------*/
  .button-contact {
    &:hover, &:active {
      background-color: $fontcolor;
      color: #FFF;
    }
  }
}

/* Contents
------------------------------------------------------------*/
// Common Styles
section {
  padding: 60px 0;
  .container {
    width: 90%;
    @extend .block-center;
  }
  h2 {
    @extend .abel;
    font-size: 3.2rem;
    @extend .uppercase;
  }
}

// Skills
#skills {
  background-color: $subcolor;
  .container {
    @include display-flex;
    justify-content: space-between;
    @include flex-direction(column);    // スキルボックスを縦に並べる
  }
  h2 {
    color: $basecolor;
    margin-bottom: 40px;
  }
  .skill-box {
    @include flex(1);
    margin: 10px 0;                     // 上下にマージン
    padding: 20px;
    background-color: $basecolor;
    @include border-radius(4px);
    @include box-sizing(border-box);
  }
  i {
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
    padding-top: 15px;
    background-color: $keycolor;
    font-size: 4.5rem;
    color: #FFF;
    text-align: center;
    @include box-sizing(border-box);
    @include border-radius(50%);
    @extend .block-center;
  }
  h3 {
    @extend .abel;
    @extend .uppercase;
    color: $keycolor;
    margin-bottom:10px;
    font-size: 2.4rem;
    font-weight: bold;
  }
}